@font-face {
	font-family: Form;
	src: url(../fonts/Form.otf);
}


/*STRUCTURE*/

* {
	font-size: 16px;
}

::-webkit-scrollbar { /* WIDTH */
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track { /* BACKGROUND */
	background: rgb(35,31,32);
}

::-webkit-scrollbar-thumb { /* HANDLE */
	background: rgb(255,251,249);
}

::-webkit-scrollbar-corner { /* CORNER */
	background: rgb(35,31,32);
}

::-moz-selection {
	background-color: rgba(215,198,189,0.99);
	color: rgb(35,31,32);
}

::selection {
	background-color: rgba(215,198,189,0.99);
	color: rgb(35,31,32);
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 22rem;
	grid-template-rows: auto;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;

	background: rgb(255,251,249);
}

.landing {
	height: 100vh;
	width: calc(100vw - 24rem);
	padding: 6rem 0rem 0rem 1rem;
	overflow: hidden;

	/*background-color: red;*/
}

.landing.mobile {
	display: none;
}

.operations {
	position: fixed;
	right: 0;
	height: 100vh;
	width: 16rem;
	padding: 3rem;

	background: rgb(35,31,32);

	overflow: auto;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	width: calc(100vw - 29rem);
	padding: 3rem;

	/*background-color: red;*/
}

.item {
	margin-bottom: -6rem;
}

.footer {
	grid-column-start: 1;
	grid-column-end: 3;
}


/*TYPOGRAPHY*/

h1 {
	margin: 0;
	color: rgb(35,31,32);
	text-transform: uppercase;

	font-family: Form, 'Inknut Antiqua', serif;
	font-weight: normal;
	font-size: calc(10vw - 3rem);

	text-align: center;
	line-height: calc(10vw - 3rem);
	word-break: keep-all;
}

.land-head {
	display: block;
	margin: auto;
}

h2 {
	margin: 0;
	color: rgb(35,31,32);
	text-transform: uppercase;

	font-family: Form, 'Inknut Antiqua', serif;
	font-weight: normal;
	font-size: 4rem;

	text-align: center;
	line-height: 4.25rem;
}

h2.coffee {
	color: rgb(190, 166, 146);
}

h2.zero {
	color: rgb(167, 187, 97);
}

h2.juices {
	color: rgb(0,106,80);
}

h2.brunch {
	color: rgb(190, 166, 146);
}

h2.bowls {
	color: rgb(35,31,32);
}

h2.pastries {
	color: rgb(0,106,80);
}

p {
	margin: 0;
	color: rgb(35,31,32);

	font-family: 'Karla', sans-serif;
}

.body {
	line-height: 1.3rem;
}

.body.par-break {
	margin-top: 1rem;
}

.body.big-par-break {
	margin-top: 3rem;
}

.body.oper {
	text-align: center;
	color: rgb(255,251,249);
}

.body.oper a {
	color: rgb(255,251,249);
}

.body.cont {
	text-align: center;
	color: rgb(35,31,32);
	letter-spacing: -0.02rem;
}

.body.cont a {
	color: rgb(35,31,32);
}


/*IMAGES & ICONS*/

img {
	display: block;
	margin: 0;
}

.logo.oper {
	width: 12rem;
	height: auto;
	margin: auto;
	margin-bottom: 3rem;
}

.icon.coffee {}

.logo.footer {
	width: 6.3rem;
	height: auto;
	margin: auto;
	margin-top: 10rem;
	padding: 2rem;
}



/*SMALLER SCREEN*/

@media only screen and (max-width: 800px) {

.wrapper {
	display: grid;
	grid-template-columns: 1fr;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;

	background: rgb(255,251,249);
}

.landing {
	width: calc(100vw - 6.5rem);
	height: calc(100vh - 6rem);
	padding: 3rem;
	overflow: auto;
}

.landing.desktop {
	display: none;
}

.landing.mobile {
	display: block;
	margin: auto;
}

h1 {
	font-size: 5rem;
	line-height: 5.5rem;
}

.operations {
	position: relative;
	width: calc(100vw - 6.5rem);
	height: 30rem;
}

.content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

	width: calc(100vw - 6.5rem);
	margin: auto;
	padding: 3rem;

	/*background-color: red;*/
}

.item {
	margin-bottom: 2rem;
}

.footer {
	grid-column-start: 1;
	grid-column-end: 2;
}

.placeholder {
	display: none;
}

}




