@font-face {
	font-family: Form;
	src: url(../fonts/Form.otf);
}


/*STRUCTURE*/

* {
	font-size: 16px;

	transition-duration: 0.2s;
}

::-webkit-scrollbar { /* WIDTH */
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track { /* BACKGROUND */
	background: rgb(35,31,32);
}

::-webkit-scrollbar-thumb { /* HANDLE */
	background: rgb(255,251,249);
}

::-webkit-scrollbar-corner { /* CORNER */
	background: rgb(35,31,32);
}

::-moz-selection {
	background-color: rgba(215,198,189,0.99);
	color: rgb(35,31,32);
}

::selection {
	background-color: rgba(215,198,189,0.99);
	color: rgb(35,31,32);
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 22rem;
	grid-template-rows: auto;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;

	background: rgb(255,251,249);
}

.landing {
	height: 100vh;
	width: calc(100vw - 24rem);
	padding-top: calc(55vh - 20vw);
	padding-bottom: 0rem;
	padding-right: 0rem;
	padding-left: 1rem;
	margin-bottom: -10rem;
	overflow: hidden;

	/*z-index: -200;*/
}

.placeholder.landing {
	width: calc(0rem);
	height: calc(0rem);

	/*z-index: -100;*/
}

.landing.half-screen {
	display: none;

	/*z-index: -200;*/
}

.landing.mobile {
	display: none;

	/*z-index: -200;*/
}

.operations {
	position: fixed;
	right: 0;
	height: 100vh;
	width: 16rem;
	padding: 3rem;

	overflow: auto;
}

.oper.bg {
	position: fixed;
    top: -5rem;
    right: 0;

    height: 120vh;
    width: 22rem;
    z-index: -100;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	width: calc(100vw - 16rem - 6rem - 6rem);
	padding: 3rem;

	/*align-content: center;*/
}

.item {
	margin-bottom: -6rem;
}

.footer {
	grid-column-start: 1;
	grid-column-end: 3;
}


/*TYPOGRAPHY*/

h1 {
	margin: 0;
	color: rgb(35,31,32);
	text-transform: uppercase;

	font-family: Form, 'Inknut Antiqua', serif;
	font-weight: normal;
	font-size: calc(10vw - 3rem);

	text-align: center;
	line-height: calc(10vw - 3rem);
	word-break: keep-all;
}

.land-head {
	display: block;
	margin: auto;
}

h2 {
	margin: 0;
	color: rgb(35,31,32);
	text-transform: uppercase;

	font-family: Form, 'Inknut Antiqua', serif;
	font-weight: normal;
	font-size: 4rem;

	text-align: center;
	line-height: 4.25rem;
	margin-bottom: 2rem;
}

h2.coffee {
	color: rgb(190, 166, 146);
	margin-right: -4.5rem;
}

h2.zero {
	color: rgb(167, 187, 97);
	margin-right: -11.5rem;
}

h2.juices {
	color: rgb(0,106,80);
	margin-right: -4rem;
}

h2.brunch {
	color: rgb(190, 166, 146);
	margin-right: -8rem;
}

h2.bowls {
	color: rgb(35,31,32);
	margin-right: 9rem;
}

h2.pastries {
	color: rgb(0,106,80);
	margin-right: 9rem;
}

p {
	margin: 0;
	color: rgb(35,31,32);

	font-family: 'Karla', sans-serif;
}

a:hover {
	background-color: rgb(215,198,189);
	color: rgb(35,31,32);
}

.body {
	line-height: 1.3rem;
}

.body.par-break {
	margin-top: 1rem;
}

.body.big-par-break {
	margin-top: 3rem;
}

.body.oper {
	text-align: center;
	color: rgb(255,251,249);
}

.body.caffe {
	/*text-transform: uppercase;*/
}

.body.oper a {
	color: rgb(255,251,249);
}

.body.oper a:hover {
	color: rgb(35,31,32);
}

.body.cont {
	text-align: center;
	color: rgb(35,31,32);
	letter-spacing: -0.02rem;
}

.body.cont a {
	color: rgb(35,31,32);
}

.block.oper {
	position: absolute;
	display: block;
	bottom: 10rem;
	margin: auto;
	width: calc(100% - 6rem);
}


/*IMAGES & ICONS*/

img {
	display: block;
	margin: auto;
}

.logo.oper {
	width: 12rem;
	height: auto;
	margin-bottom: 1rem;
}

.icon.coffee {
	width: 24rem;
	height: auto;
	margin-left: calc(50% - 16rem);
	margin-bottom: -15rem;
}

.icon.zero {
	width: 24rem;
	height: auto;
	margin-left: calc(50% - 18rem);
	margin-bottom: -13.5rem;
}

.icon.juices {
	width: 24rem;
	height: auto;
	margin-left: calc(50% - 18rem);
	margin-bottom: -13rem;
}

.icon.brunch {
	width: 24rem;
	height: auto;
	margin-left: calc(50% - 15rem);
	margin-bottom: -8rem;
}

.icon.bowls {
	width: 24rem;
	height: auto;
	margin-left: calc(50% - 6rem);
	margin-bottom: -10rem;
}

.icon.pastries {
	width: 24rem;
	height: auto;
	margin-left: calc(50% - 7rem);
	margin-bottom: -12rem;
}

.logo.footer {
	width: 6.3rem;
	height: auto;
	margin-top: 10rem;
	padding: 2rem;
}






/*SMALLER SCREEN*/

@media only screen and (max-width: 1230px) {

	.wrapper {
		display: grid;
		grid-template-columns: 1fr 22rem;
		grid-template-rows: auto;

		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: auto;

		background: rgb(255,251,249);
	}

	.landing.desktop {
		display: none;
	}

	.landing.half-screen {
		display: block;
		padding-top: calc(40vh - 20vw);
	}

	.landing.mobile {
		display: none;
	}

	.placeholder {
		display: none;
	}

	.placeholder.landing {
		display: block;
	}

	.content {
		display: block;

		width: calc(100vw - 16rem - 6rem - 6rem);
		padding: 3rem;
	}

	.item {
		margin-bottom: 2rem;
		width: calc(100% - 0rem);
	}

	.item.pastries {
		margin-bottom: 0rem;
	}

	h1 {
		font-size: calc(7vw);
		line-height: calc(7.75vw);
	}

}

@media only screen and (max-width: 800px) {

	.wrapper {
		display: grid;
		grid-template-columns: 1fr;

		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: auto;

		background: rgb(255,251,249);
	}

	.landing {
		width: calc(100vw - 6.5rem);
		height: calc(100vh - 0rem);
		padding: 3rem;
		overflow: auto;
	}

	.landing.desktop {
		display: none;
	}

	.landing.half-screen {
		display: none;
	}

	.landing.mobile {
		display: block;
		position: fixed;
		margin: auto;
		padding-top: calc(30vh - 20vw);

		z-index: -200;
	}

	h1 {
		font-size: calc(11vw);
		line-height: calc(12vw);
	}

	.placeholder.landing {
		width: calc(100vw - 6.5rem);
		height: calc(100vh + 4rem);
	}

	.operations {
		position: relative;
		width: calc(100vw - 6.5rem);
		height: 38rem;

		overflow: hidden;

		margin-bottom: -5rem;
	}

	.oper.bg {
		position: absolute;
		top: 0rem;
		right: 0;

		height: 41rem;
		width: 110vw;
		z-index: -100;
	}

	.block.oper {
		position: absolute;
		bottom: 7rem;
	}

	.content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;

		width: calc(100vw - 6.5rem);
		margin: auto;
		padding: 3rem;

		background: rgb(255,251,249);

		overflow: hidden;
		z-index: -101;
	}

	.item {
		margin-bottom: 2rem;
		width: calc(100% - 3rem);
	}

	.footer {
		grid-column-start: 1;
		grid-column-end: 2;

		margin-top: -6rem;
		margin-bottom: 1rem;
	}

}


@media only screen and (max-width: 470px) {

	.item {
		width: calc(100vw - 6rem);
		margin: auto;
		text-align: center;
	}

	.icon.coffee {
		margin-left: calc(50vw - 18rem);
	}

	.icon.zero {
		margin-left: calc(50vw - 17rem);
	}

	.icon.juices {
		margin-left: calc(50vw - 20rem);
		margin-bottom: -11rem;
	}

	.icon.brunch {
		margin-left: calc(50vw - 16.5rem);
		margin-bottom: -9rem;
	}

	.icon.bowls {
		margin-left: calc(50vw - 13.5rem);
		/*margin-bottom: -9rem;*/
	}

	.icon.pastries {
		margin-left: calc(50vw - 13.5rem);
		/*margin-bottom: -9rem;*/
	}

	h2 {
    	font-size: 3rem;
    	line-height: 3.25rem;
		margin-bottom: 3rem;
	}

	h2.zero {
		margin-right: -5rem;
	}

	h2.brunch {
		margin-right: -5rem;
	}

	h2.bowls {
		margin-left: 0rem;
	}

	h2.pastries {
		margin-right: 8rem;
	}
}




